  <br>

  <style type="text/css">
  .morva:hover {   text-decoration: none; }
  </style>
  
  <div style="border:10px outset gray; margin-bottom:2%; ">
 
	  <h1 style="color:blue;    padding-right: 4%;"> درباره ما</h1>
	   <p style="padding:4%;font-size: 120%;font-family:BNazanin;text-align: justify;color : white;line-height: 26px;margin-bottom:-7%;margin-top:-4%;">
	  	شركت مهندسين مشاور معماري و محيط درسال 1360 به منظور ارائه خدمات مشاوره‌اي فني درزمينه پروژه‌هاي معماري و شهرسازي تأسیس و با تأييد سازمان برنامه و بودجه وقت به عنوان مهندس مشاور در رشته معماري و شهرسازي تشخيص صلاحيت شده و هم اكنون در رشته ساختمان با گرايش ساختمان‌هاي آموزشی–  ورزشی –  بهداشتی – درمانی ، مسکونی –  اداری – تجاری – صنعتی و نظامی و مقاوم‌سازی  فعاليت مي نمايد. 
	  	</br></br>
		مهندسين مشاور معماري و محيط در طي بيش از 30 سال فعاليت اين توفيق را داشته تا علاوه برمسئوليت تهيه طرح و نظارت بر اجراي بسياري از پروژه‌ها آموزشي، اداري، مسكوني و خدماتي مربوط به سازمان‌هاي دولتي و با شهرداري‌ها درتهيه طرح‌هاي جامع شهري و دانشگاهي و برنامه‌ريزي‌هاي مختلف نيز پروژه‌اي را به مرحله بهره برداري برساند.
		</br>
		در حال حاضر آقایان سعید ایمنی (با 38 سال سابقه) سمت مدیریت عاملی شرکت و سرپرستی بخش سازه و یزدان هوشور (با 51 سال سابقه) سمت نایب رئیس هیئت مدیره و سرپرستی بخش معماری شرکت را بر عهده دارند و سرکار خانم خوبچهر کشاورزی (با 45 سال سابقه) رئیس هیئت مدیرۀ شرکت می‌باشند.
		</br>
		مهندسين مشاورمعماري و محيط آمادگي كامل دارد تا درانجام كليه امورطراحي ونظارت پروژه‌هاي ساختماني خدمات مهندسي ارائه نمايد.
	  </p>
      <button type="button" style="width:17%;margin:4%;background-color: rgba(68, 63, 63, 0.22);" class="btn btn-succes btn-md" > <a class="morva" style="color:blue;font-size:142%;"href="/Binder1 opt.pdf"> <b> دریافت رزومه شرکت  </b> </a> </button>
  </div>
  <br>
 