
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>شروع</title>
    <link href="/assets/css/template.css" rel="stylesheet">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


      <main id="main" class="site-main">

        <section id="carousel-1" class="carousel slide section-slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="item active" style="background: url();">
              <div class="container"><img src="/assets/pic/3.jpg" alt="First slide"></div>
            </div>
            <div class="item" style="background: url();">
              <div class="container"><img style ="height:50%'" src="/assets/pic/fina2l2.jpg" alt="Second slide"></div>
            </div>
            <div class="item" style="background: url();">
              <div class="container"><img src="/assets/pic/016.jpg" alt="Third slide"></div>
            </div>
          </div>
          <a class="left carousel-control" href="#carousel-1" data-slide="prev"><span class="fa fa-chevron-left"></span></a>
          <a class="right carousel-control" href="#carousel-1" data-slide="next"><span class="fa fa-chevron-right"></span></a>
        </section>

        <section class="section section-center section-cta">
          <div class="container">
            <h2 class="section-title"><span>معماری و محیط</span></h2>
            <p style="direction: rtl;font-family:BNazanin;    font-size: 107%;    text-align: justify;">شركت مهندسين مشاورمعماري ومحيط درسال ۱۳۶۰ به  منظور ارائه خدمات مشاوره اي فني درزمينه پروژه هاي معماري وشهرسازي تشكيل وبا تاييد سازمان برنامه وبودجه وقت بعنوان مهندس مشاوردررشته معماري وشهرسازي تشخيص صلاحيت شده وهم اكنون دررشته ساختمان با گرايش ساختمان هاي آموزش ورزشي- تفريحي وسياحتي- ساختمان هاي تجاري مسكوني فعاليت مي نمايد.
مهندسين مشاورمعماري ومحيط درطي بيش از۳۰سال فعاليت اين توفيق را داشته تا علاوه برمسئوليت تهيه طرح ونظارت براجراي بسياري ازپروژه ها آموزشي-اداري- مسكوني- خدماتي مربوط به سازمان هاي دولتي وبا شهرداري ها درتهيه طرح هاي جامع شهري ودانشگاهي وبرنامه ريزي هاي مختلف نيزپروژه اي را بمرحله بهره برداري برساند.
مهندسين مشاورمعماري ومحيط آمادگي كامل دارد تا درانجام كليه امورطراحي ونظارت پروژه هاي ساختماني خدمات مهندسي ارائه نمايد. </p>
            
          </div>
        </section>
        
      </main>

    </div>
    <div class="container">
    <table class="table">
    <thead>
  <tr>
    <th>مشخصات حقوقی</th>
  </tr>
</thead>
   <tbody>
  <tr class="info">
    <td>نام</td>
    <td>مهندسین مشاور معماری و محیط</td> 
    
  </tr>
  <tr class="success">
    <td>سال تأسیس</td> 
  
    <td>۱۳۶۰</td>
  </tr>
  <tr class="info">
     <td>شماره ثبت</td> 
  
    <td>۴۳۱۶۸</td>
  </tr>
  <tr class="success">
      <td>نوع فعالیت</td> 
  
    <td>ارائه خدمات مهندسی</td>
  </tr>
  <tr class="info">
    <td>رتبه‌بندی</td>
    <td>پایه 2 تخصص‌های آموزشی–  ورزشی –  بهداشتی – درمانی

پایه 3 تخصص‌های مسکونی –  اداری – تجاری – صنعتی و نظامی

پایه 3 تخصص‌ مقاوم‌سازی</td> 
  </tr>
  </tbody>
  </table>
  </div>
    <div class="scroll-to-top" data-spy="affix" data-offset-top="200"><a href="#page" class="smooth-scroll"><i class="fa fa-arrow-up"></i></a></div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="assets/js/bootstrap-3.1.1.min.js"></script>
    <script type="text/javascript" src="assets/js/jquery.isotope.min.js?v=1.5.26"></script>
    <script type="text/javascript" src="assets/js/jquery.singlePageNav.min.js"></script>
    <script type="text/javascript" src="assets/js/main.js"></script>
