<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/><meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
</br></br></br></br></br></br></br></br>
<!-- معماری -->
<div class="container">
<table class="table" >
  <tr class="success">
    <th style="direction:rtl;">سابقه کار - سال </th> 
    <th>مدرک تحصیلی</th>  
    <th>نام و نام خانوادگی</th>
  <th>گروه</th>
  <th>ردیف</th>
  </tr>

  <tr class="info">
    <td>۵۰</td>
      <td>کارشناس ارشد معماری</td> 
    <td>یزدان هوشور (*)</td>
  <td>معماری</td>
      <td>۱</td>
  </tr>

  <tr class="success" >
      <td>۴۲</td>
       <td>کارشناس ارشد معماری</td>
    <td>خوبچهر کشاورزی (*) </td>
    <td>معماری</td> 
   <td>۲</td>

  </tr>

  <tr class="info">
      <td>۱۷</td>
    <td>کارشناس ارشد معماری</td>
      <td>مریم هوشور</td>
    <td>معماری</td> 
      <td>۳</td>
  </tr>

  <tr class="success">
      <td>۱۰</td>
    <td>کارشناس ارشد معماری</td>
      <td>یاسر متقی</td>
      <td>معماری</td> 
    <td>۴</td>
  </tr>

  <tr class="info">
     <td>۴</td>
    <td>کارشناس ارشد معماری</td>
    <td>عاطفه قوامی‌نیا</td>
 <td>معماری</td> 
     <td>۵</td>
  </tr>

  <tr class="success">
 <td>۸</td>
     <td>کارشناس معماری</td>
    <td>بهاره سمیعی</td>  
    <td>معماری</td>
      <td>۶</td>
  </tr>
  </table>
  </div>

</body>
</html>