<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/><meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
</br></br></br></br></br></br>
<!-- معماری -->
<div class="container">
<table class="table" >
  <tr class="success">
    <th style="direction:rtl;">سابقه کار - سال </th> 
    <th>مدرک تحصیلی</th>  
    <th>نام و نام خانوادگی</th>
  <th>گروه</th>
  <th>ردیف</th>
  </tr>
 <tr class="success">
    <td>۴۲</td>
    <td>کارشناس ارشد سازه</td>
    <td>غلامحسین منافی</td>
    <td>سازه</td> 
   <td>۱</td>
  </tr>

  <tr class="info">
     <td>۲۱</td>
     <td>کارشناس سازه</td>
    <td>بهزاد اختری (*)</td>
    <td>سازه</td> 
   <td>۲</td>
  </tr>

  <tr class="success">
   <td>۱۷</td>
    <td>کارشناس سازه/ کارشناس ارشد مدیریت پروژه </td>
    <td>ادوین قازاریان</td>
    <td>سازه</td> 
    <td>۳</td>
  </tr>

  <tr class="info">
   <td>۱۵</td>
     <td>کارشناس سازه</td>
    <td>حسین رهگشا</td> 
   <td>سازه</td> 
    <td>۴</td>
  </tr>

  <tr class="success">
 <td>۱۲</td>
       <td>کارشناس سازه</td>
    <td>سامان دلاوری (*)</td>
    <td>سازه</td> 
      <td>۵</td>
  </tr>

  <tr class="info">
    <td>۸</td>
    <td>کارشناس سازه</td>
    <td>وحید امانی</td>
    <td>سازه</td> 
    <td>۶</td>
  </tr>

  <tr class="success">
    <td>۷</td>
    <td>کارشناس سازه</td>
    <td> سمیه گودرزی</td>  
   <td>سازه</td> 
    <td>۷</td>
  </tr>

  <tr class="info">
   <td>۷</td>
 <td>کارشناس سازه / کارشناس ارشد محیط‌زیست</td>
    <td>فرشید امینی (*)</td>
       <td>سازه</td> 
    <td>۸</td>
  </tr>

  <tr class="success">
    <td>۸</td>
     <td>کارشناس سازه / کارشناس ارشد محیط‌زیست</td>
    <td>حمیده سادات میروکیلی</td>  
   <td>سازه</td> 
   <td>۹</td>
  </tr>

  <tr class="info">
      <td>۶</td>
    <td>کارشناس سازه / کارشناس ارشد هیدرولیک</td>
    <td>معصومه آسمانی</td>  
  <td>سازه</td> 
   <td>۱۰</td>
  </tr>

  <tr class="success">
 <td>۸</td>
    <td>کارشناس سازه / کارشناس ارشد هیدرولیک</td>
    <td>نازلی علمداری</td>
    <td>سازه</td> 
      <td>۱۱</td>
  </tr>

  <tr class="info">
   <td>۵</td>
      <td>کارشناس سازه / کارشناس ارشد حمل و نقل</td>
    <td>محمدرضا خلیل زاده</td>
   <td>سازه</td> 
    <td>۱۲</td>
  </tr>
</table>
</div>
</body>
</html>