

<div id="" style="  clear: both;
    width: 750px;
    margin: 0 auto;
    text-align: center;">
  <div id="content" style="float: left;  ">
    <p style="float: left;margin: 10px 7px;"><img src="/assets/IMG_0001.jpg" width="200" height="300" alt="The Mephisto Club by Tess Gerritsen" class="captionated" /></p>
    
    <p style="float: left;margin: 10px 7px;"><img src="/assets/IMG_0002.jpg" width="200" height="300" alt="Dark Celebration by Christine Freehan" class="captionated" /></p>
    
    <p style="float: left;margin: 10px 7px;"><img src="/assets/IMG_0003.jpg" width="200" height="300" alt="Ricochet by Sandra Brown" class="captionated" /></p>
    
    <p style="float: left;margin: 10px 7px;"><img src="/assets/IMG_0004.jpg" width="200" height="300" alt="Echo Park by Michael Connelly" class="captionated" /></p>
    <hr />
    
    <p style="float: left;margin: 10px 7px;"><img src="/assets/IMG_0005.jpg" width="200" height="300" alt="The World is Flat by Thomas L. Friedman" class="captionated" /></p>
    
    <p style="float: left;margin: 10px 7px;"><img src="/assets/IMG_0006.jpg" width="200" height="300" alt="Act of Treason by Vince Flynn" class="captionated" /><p>
    
    <p style="float: left;margin: 10px 7px;"><img src="/assets/IMG_0007.jpg" width="200" height="300" alt="Rich Dad, Poor Dad" class="captionated" /></p>
    
    <p style="float: left;margin: 10px 7px;"><img src="/assets/IMG_0008.jpg" width="200" height="300" alt="Freakonomics" class="captionated" /></p>
  </div>
</div>
</br></br></br></br></br></br></br></br></br></br>
</br></br></br></br></br></br></br></br></br></br>
</br></br></br></br></br></br></br></br></br></br>
</br></br></br></br></br></br></br></br></br></br>
</br></br></br></br></br></br></br></br></br></br>
</br></br></br></br></br>























