<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/><meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
</br></br></br></br></br></br>
<!-- معماری -->
<div class="container">
<table class="table" >
  <tr class="success">
    <th style="direction:rtl;">سابقه کار - سال </th> 
    <th>مدرک تحصیلی</th>  
    <th>نام و نام خانوادگی</th>
  <th>گروه</th>
  <th>ردیف</th>
  </tr>
  <tr class="info">
   <td>۲۵</td>
    <td>کارشناس برق</td>
    <td>غلامرضا اسدی آذر</td>
    <td>تاسیسات</td>   
    <td>۱</td>
  </tr>

  <tr class="success" >
     <td>۷</td>
   <td>کارشناس ارشد برق</td>
    <td>مسعود پرهیزکاری (*)</td>
     <td>تاسیسات</td> 
  <td>۲</td>
  </tr>

  <tr class="info">
   
      <td>۴۱</td>
    <td>کارشناس مکانیک</td>
   <td>محسن فردوسی</td>
  <td>تاسیسات</td>
    <td>۳</td>
  </tr>
  
  <tr class="success">
    <td>۴۰</td>
      <td>کارشناس مکانیک</td>
    <td>مصطفی سمیعی</td>
   <td>تاسیسات</td> 
  <td>۴</td>
  </tr>
  
  <tr class="info">
   <td>۱۱</td>
   <td>کارشناس مکانیک</td>
    <td>سیدحسام‌الدین هاشمی یزدی (*)</td>
        <td>تاسیسات</td> 
    <td>۵</td>
  </tr>
  
  <tr class="success">
   <td>۱۰</td>
   <td>ریاضی کاربردی</td>  
    <td>ماندانا خلیل‌زاده</td>
    <td>تاسیسات</td> 
    <td>۶</td>
  </tr>


</table>
</div>

</body>
</html>