<div style="border:6px inset orange;">
<h1> پروژه های انجام شده : </h1>
	<p> طرح جامع شهرستان بندر لنگه در استان هرمزگان</p></br>
	<p>طرح جامع شهر بستك در استان هرمزگان</p></br>
	<p> طرح جامع شهربندر لنگه </p></br>
	<p> طرح جامع شهر بندر گنگ </p></br>
</div>