<div style="border:6px inset orange;">
	<h1> پروژه های در حال انجام : </h1>
	<p> طرح جامع پارک علم و فناوری بجنورد </p></br>
	<p> دانشكده علوم انساني بجنورد </p></br>
	<p> خوابگاه دانشگاه بجنورد </p></br>
	<p> کتابخانه مرکزی دانشگاه بجنورد</p></br>
	<p> سازمان مرکزی دانشگاه بجنورد </p></br>
	<p> ساختمان کلاس‌های عمومی دانشگاه بجنورد </p></br>
	<p>  دانشكده هنر دانشگاه بجنورد </p></br>
	<p> سالن غذاخوری دانشگاه بجنورد </p></br>
</div>