<div style="border:6px inset orange;">
<h1> پروژه های انجام شده : </h1>
	<p> مجتمع خوابگاهي دانشگاه لرستان</p></br>
</div>

<div style="border:6px inset orange;">
	<h1> پروژه های در حال انجام : </h1>
	<p> خوابگاه دانشجویان دانشگاه لرستان </p></br>
</div>