
<div style="border:10px outset gray; margin-bottom:10%;">
<h1 style="    margin-right: 35%;    color: #1C20C5;"> پروژه های انجام شده : </h1>
	<h2 style="padding-right:4%;"> طرح جامع دانشگاه اراك </h2></br>
	<h2 style="padding-right:4%;"> مجتمع ورزشی و استخر شنای دانشگاه اراک </h2></br>
	<h2 style="padding-right:4%;"> دانشكده علوم‌پايه دانشگاه اراك </h2></br>
	<h2 style="padding-right:4%;"> دانشكده فني و مهندسي دانشگاه اراك </h2></br>
	<h2 style="padding-right:4%;"> مجتمع خوابگاهي دانشگاه اراك شماره 1 </h2></br>
	<h2 style="padding-right:4%;"> مجتمع خوابگاهي دانشگاه اراك شماره 2 </h2></br>
	<h2 style="padding-right:4%;">سالن غذا‌خوري دانشگاه اراك</h2></br>
	<h2 style="padding-right:4%;"> محوطه‌سازي خوابگاه دانشجويان دانشگاه اراك </h2></br>
	<h2 style="padding-right:4%;"> محوطه‌سازي دانشكده علوم پايه دانشگاه اراك </h2></br>
	<h2 style="padding-right:4%;"> بانك شعبه دانشگاه اراك</h2></br>
	<h2 style="padding-right:4%;"> مسجد دانشگاه اراک </h2></br>
	<h2 style="padding-right:4%;"> محوطه‌سازی دانشکده فنی و مهندسی دانشگاه اراک </h2></br>
	<h2 style="padding-right:4%;"> محوطه‌سازی بانک و مسجد دانشگاه اراک </h2></br>
	<h2 style="padding-right:4%;"> محوطه‌سازي خانه‌هاي سازماني دانشگاه اراك</h2></br>
	<h2 style="padding-right:4%;"> طراحي تسهيلات زير بنايي پرديس دانشگاه اراك و اجراي مرحله اول آن</h2></br>
	<h2 style="padding-right:4%;"> سالن ورزشی مجموعه خوابگاهی دانشگاه اراک </h2></br>
</div>


<div style="border:10px outset silver;">
<h1 style="    margin-right: 35%;    color: #1C20C5;"> پروژه های  در حال انجام : </h1>
	<h2 style="padding-right:4%;"> محوطه‌سازی ساختمان مرکزی دانشگاه اراک </h2></br>
	<h2 style="padding-right:4%;">  دانشکده کشاورزی دانشگاه اراک</h2></br>
	<h2 style="padding-right:4%;"> محوطه‌سازی ورزشگاه دانشگاه اراک </h2></br>
	<h2 style="padding-right:4%;"> محوطه‌سازی راه دسترسی سازمان مرکزی دانشگاه اراک </h2></br>
	<h2 style="padding-right:4%;"> سالن ورزشی شماره 2 دانشگاه اراک </h2></br>
	<h2 style="padding-right:4%;"> آمفی تأتر  دانشگاه اراک </h2></br>
	<h2 style="padding-right:4%;"> خوابگاه دانشجویان دانشگاه اراک ( شماره 3 ) </h2></br>
	<h2 style="padding-right:4%;">   سازمان مرکزی دانشگاه اراک </h2></br>
	<h2 style="padding-right:4%;"> کتابخانه مرکزی دانشگاه اراک </h2></br>
	<h2 style="padding-right:4%;"> دانشکده ادبیات و علوم انسانی دانشگاه اراک </h2></br>
	<h2 style="padding-right:4%;"> سالن غذاخوری شماره 2  دانشگاه اراک </h2></br>

</div>

