<div style="border:6px inset orange;">
<h1> پروژه های انجام شده : </h1>
	<p> خوابگاه دانشجویان خواهران دانشگاه مازندران </p></br>
	<p>خوابگاه دانشجویان دانشگاه علوم پایه دامغان</p> </br>
</div>

<div style="border:6px inset orange;">
	<h1> پروژه های در حال انجام : </h1>
	<p> خوابگاه دانشجویان دانشگاه علوم کشاورزی و منابع طبیعی ساری </p></br>
</div>