<div style="border:6px inset orange;">
<h1> پروژه های انجام شده : </h1>
	<p> خوابگاه دانشجویان دانشگاه سمنان </p></br>
</div>

<div style="border:6px inset orange;">
<h1> پروژه های در حال انجام : </h1>
	<p> مطالعات بهسازي لرزه اي هنرستان كار و دانش حسين شاهرودي شهرستان شاهرود </p></br>
	<p> مطالعات بهسازي لرزه اي مدرسه امام محمد باقر (ع )‌ شهرستان شاهرود </p></br>
	<p> دانشکده علوم کشاورزی دانشگاه صنعتی شاهرود </p></br>
	<p> خوابگاه دانشجویان دانشگاه صنعتی شاهرود </p></br>
	<p> دانشکده اقتصاد و مدیریت دانشگاه سمنان </p></br>
	<p> دانشکده کویرشناسی دانشگاه سمنان </p></br>
	<p> دانشکده گردشگری دانشگاه سمنان </p></br>
	<p> دانشکده نفت دانشگاه سمنان </p></br>



</div>