<div style="border:6px inset orange;">
<h1> پروژه های انجام شده : </h1>
	<p>گسترش دانشكده حقوق و علوم سياسي دانشگاه تهران</p></br>
	<p>مطالعات بهسازي  لرزه‌اي موزه دانشگاه تهران</p></br>
	<p>مطالعات و اجراي بهسازي لرزه‌اي ساختمان دوره دكتراي فيزيك دانشگاه تهران</p></br>
	<p>خوابگاه دانشگاه خواجه نصیر الدین تهران</p></br>
</div>

<div style="border:6px inset orange;">
	<h1> پروژه های در حال انجام : </h1>
	<p> دانشکده هنرهای تجسمی دانشگاه هنر تهران </p></br>
	<p> خوابگاه متأهلین دانشگاه تربیت مدرس تهران </p></br>
	<p> توسعه خوابگاه دانشگاه علم و صنعت تهران (معاونت دانشجویی دانشگاه) </p></br>
	<p> خوابگاه دانشکده الهیات دانشگاه تهران </p></br>


</div>

