<div style="border:6px inset orange;">
<h1> پروژه های انجام شده : </h1>
	<p> خوابگاه دانشجويان متأهل مركز تحصيلات تكميلي در علوم پايه زنجان </p></br>
	<p> سردر ورودی دانشگاه زنجان </p></br>
	<p> كتابخانه مركزي دانشگاه زنجان </p></br>
	<p> سلف سرويس دانشگاه زنجان </p></br>
	<p> مجتمع خوابگاهي دانشگاه زنجان (شماره 1) </p></br>
	<p> محوطه سازي دانشگاه زنجان </p></br>
	<p> دانشکده معدن دانشگاه زنجان </p></br>
	<p> آمفي‌تأتر دانشگاه زنجان </p></br>
	<p> خوابگاه شماره 6 دانشگاه زنجان </p></br>
	<p> خوابگاه دانشجویان دانشگاه زنجان ( شماره 4 و 5 ) </p></br>
	<p> دانشکده معدن دانشگاه زنجان</p></br>
</div>